.personas{
    display: flex;
    padding-top: 3rem;
}

.persona{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.persona__imagen{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.persona__imagen--roberta{
    background-image: url('../../img/personas/roberta.jpg');
}

.persona__imagen--marcela{
    background-image: url('../../img/personas/marcela.jpg');
}

.persona__imagen--andrea{
    background-image: url('../../img/personas/andrea.jpg');
}

.persona__nombre{
    color: #ad0606;
    font-family: Pacifico, cursive;
    font-size: 2rem;
    margin: 1rem 0;
    text-transform: capitalize;
}

.persona__funcion{
    color: #595959;
    font-size: 1.25rem;
    text-transform: capitalize;
}

@media screen and (min-width: 0){
    .personas{
        flex-direction: column;
    }

    .persona{
        margin-bottom: 2rem;
    }

    .persona__imagen{
        height: 150px;
        width: 150px;
    }
}

@media screen and (min-width: 768px){
    .personas{
        flex-direction: row;
        justify-content: space-around;
    }

    .persona{
        margin-bottom: 0rem;
        margin-right: 2rem;
    }

    .persona__imagen{
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 1022px){
    .persona__imagen{
        height: 300px;
        width: 300px;
    }
}